@import url(variable.css);

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* body{
    background: var(--color-primary);
} */

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 8px;
    grid-template-areas:
        "menu menu menu menu menu menu menu menu menu menu menu menu"
        "notification notification notification notification sales sales sales sales sales sales balances balances"
        "notification notification notification notification sales sales sales sales sales sales balances balances"
        "week week week week sales sales sales sales sales sales balances balances"
        "week week week week sales sales sales sales sales sales devs devs"
        "week week week week sales sales sales sales sales sales devs devs"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    
    border: 1px solid var(--color-primary);
    
    /* box-shadow: var(--color-shadows); */
}
.container div div{
    border-radius: 10px;
}
.item_1{
    background: var(--color-secundary);
   
    /* background: violet; */
    grid-area: menu;
    height: 70px;
    
}

.item_1 div{
    width: 49.7%;
    height: 100%;
    border-radius: 0;
    margin: 0 auto;
    display: inline-block;
    /* background: chartreuse; */
    vertical-align: middle;
}

.item_1__menu ul{
    text-align: left;
}

.item_1__menu ul li{
    display: inline-block;
    margin: 15px;
    align-items: center;
}
.item_1 div ul li,.item_3 ul li{
    list-style: none;
}
.item_1 div ul li i{
    font-size: 26px;
}
.campo_busqueda{
    text-align: left; 
    position: relative;
    left: 15px;
    top: -2px;
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
    font-weight: bold;
    font-size: 14px; /* Cambia el tamaño del texto */
    color: black;
}
#User i{
    font-size: 40px;
}
.item_1 div ul li a{
    text-decoration: none;
    color:var(--color-font);
}

.item_1 div ul li input{
    padding: 5px;
    width: 120px;
    border: none;
    background: transparent;
    outline: none;
}
.item_1__usuario{
    background: linear-gradient(to right, var(--color-blue), var(--color-green));
}

.item_1__usuario ul div{
    display: inline-block ;
    /* background: violet; */
    text-align: right;
}

.item_1__usuario ul li{
    display: inline-block;
    /* background: blue; */
    margin: 10px;
    
}

.item_1__menu button{
    background: var(--color-secund);
    border-radius: 5px;
    border: none;
}

.item_2{
    background: blue;
    grid-area: notification;
}

.item_3{
    background: var(--color-secundary);
    grid-area: sales;
}
.item_3 ul li{
    margin: 10px 0px 0px 30px ;
}
.lista_horizontal{
    /* background: red; */
    display: flex;
    
}

#yearly{
    font-size: 150%;
    margin-top: 25px;
    color: gray                     ;
}
#year {
    /* background: yellow; */
    right: 0;
    position: relative ;
    left: 230px;
    border: none;
    top: 15px;
    color: gray;
}
.item_3 input:focus{
    outline: none;
}
.item_3__text1{
    /* background: blue; */
    font-size: 18px;
    position: relative;
    top: 15px;
}

.item_3__valor h1{
    margin-top:  5px;
}

#item_3__mas {
    color: var(--color-green);
}
.item_3__semana img{
    width: 37vh;
    display: flex;
    font-size: 100px;
    
}
.item_4{
    background: var(--color-secundary);
    grid-area: balances;
    
}

.item_4 ul div li{
    list-style: none;
   
}
.item_4 ul div li a{
    font-size: 70%;
    
}
.item_4__arriba{
    margin: 10px 20px 0 10px;
    /* background: yellow; */
}
.item_4__abajo{
   margin: 20px 20px 0 10px;
    /* background: yellow; */
}
.item_4__center{
    margin: 20px 0 0 4px;
    background: var(--color-media);
    width: 93%;
    height: 40px;
    position: relative;
}
.item_4__center a,.item_4__center h3{
    margin-left: 10px;
}

.item_4 ul li a{
    text-decoration: none;
    color:var(--color-font);
    font-size: 80%;
}

.item_5{
    background: sandybrown;
    grid-area: week;
}

.item_6{
    background: var(--color-green) ;
    grid-area: devs;
    
    
}
.item_6 ul li{
    list-style: none;
    /* background: yellow; */
}

.item_6__hora a {
    font-size: 60%;
    text-decoration: none;
    color:var(--color-font);
    /* background: red; */
    position: relative;
    left: 10px;
    top: 5px;
   
}

.item_6__title h3{
    font-size: 80%;
    /* background: blue; */
    text-decoration: none;
    color:var(--color-font);
    position: relative;
    left: 10px;
    top: 7px;
}
.item_6 li button{
    font-size: 45%;
    width: 50px;
    height: 18px;
    text-decoration: none;
    color:var(--color-font);
    margin: 20px 20px 12px 10px;
    border: none;
}
.item_6__items li{
    font-size: 30px;
    text-decoration: none;
    color:var(--color-font);
    display: inline-block;
    /* background: green; */
}

.item_6__items li p{
    color: var(--color-primary);
    font-size: 40%;
}
.user{
    margin: 0 5px 10px 10px;
}
.circle{
    margin: 0 5px 2px -20px; 
}
.numero{
    /* background: red; */
    position: relative;
    left: -33px;
    top: -9px;
    
}
.item_7{
    background: hotpink ;
    grid-area: product;
}
.item_8{
    background: yellow ;
    grid-area: timeline;
}

@media(width < 800px){
    .container{
        width: 100%;
        margin: 0;
        padding: 2px 10 px;
        grid-template-columns:1fr;
        grid-template-areas:
        "menu"
        "sales"
        "balances"
        "week"
        "devs"
        "product"
        "notification"
        "timeline";
    }
}

.container div{
    border-radius: 10px;
}